services:

  mopidy:
    image: syllogismrxs/mopidy
    build:
      context: ./mopidy
    restart: unless-stopped
    ports:
      - "6680:6680"
      - "6600:6600"
    volumes:
      - ./mopidy/mopidy.conf:/home/mopidy/.config/mopidy/mopidy.conf:ro
      - fifo-share:/tmp/snapcast
      - mopidy-data:/home/mopidy/.local/share/mopidy
      - ./music:/media/music

  snapserver:
    image: syllogismrxs/snapcast-server
    build:
      context: ./snapcast-server
    restart: unless-stopped
    depends_on:
      - mopidy
    ports:
      - "1704:1704"
      - "1705:1705"
      - "1780:1780"
    volumes:
      - fifo-share:/tmp/snapcast
      - ./snapcast-server/snapserver.conf:/etc/snapserver.conf:ro
    devices:
      - "/dev/random:/dev/random"

  snapclient:
    image: syllogismrxs/snapcast-client
    build:
      context: ./snapcast-client
    restart: unless-stopped
    devices:
      - /dev/snd

volumes:
  fifo-share:
  mopidy-data:
